{% extends "layouts/main.html" %}
{% set version = "latest-pa" %}
{% set activePrimeNav = [true, false] %}
{% set activeAppNav = [true, false, false] %}

{% block header %}
  {% include version + "/includes/header-provider.html" %}
{% endblock %}


{% block pageTitle %}
  Applications details: {{data['laa-ref'] or "LAA-5a7d3c"}}  – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Application details
    </h1>  
  </div>

  <!--Status of application-->
  {% include version + "/includes/app-status-provider.html" %}

  <div class="govuk-grid-column-full" id="nav">

    <!--2nd nav-->
    {% include version + "/includes/nav-app-provider.njk" %}

    <h2 id="overview" class="govuk-heading-l">Overview</h2>

    <!--{% include version + "/includes/decision-details-provider.html"%}-->

        <!--App ref-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">Application details</h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prison Law
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['prisonLaw'] or "No"}}
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              LAA reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['laa-ref'] or "LAA-5a7d3c"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unique file number
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ufn'] or "100323/234234"}}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h3 class="govuk-heading-m">Contact details</h3>
    <!--Case contact-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">Case contact</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['contact-first-name'] or "Dami" }} {{data['contact-last-name'] or "Olu" }}<br>
              {{data['contact-email'] or "dami@olu.com" }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Firm details
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['org-name'] or "Laywers Inc" }}<br> 
              {{data['org-acc'] or "1A3B23E4" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <h3 class="govuk-heading-m">About the case</h3>

    <!--Client details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">Client details</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Client name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['client-first-name'] or "Roger" }} {{data['client-last-name'] or "Blackbeard" }}<br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['client-dob-day'] or "10" }} {{data['client-dob-month'] or "May" }} {{data['client-dob-year'] or "2001" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!--Case details-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">Case details</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% if data['prisonLaw'] == "Yes" %}
            <!--If YES to Prison Law--->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of next hearing
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-hearing-day'] or "23" }} {{data['date-hearing-month'] or "September" }} {{data['date-hearing-year'] or "2024" }}
              </dd>
            </div>
            {% else %}
            <!--If prison law is NO-->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Main offence
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['main-offence'] or "Anti-social behaviour orders (for applications made prior to 23rd March 2015)" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of representation order
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['rep-order-day'] or "19" }} {{data['rep-order-month'] or "April" }} {{data['rep-order-year'] or "2023" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MAAT ID
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['maat'] or "12345678" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Client detained
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['detained'] == "Yes" %}
                  {{data['prisons'] or "Belmarsh" }}
                  {% else %}
                  No
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Subject to POCA
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['poca'] or "Yes"}}
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>
    <!--Hearing details-->
    {% if data['prisonLaw'] == "No" or data['prisonLaw'] == null %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h4 class="govuk-summary-card__title">Hearing details</h4>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of next hearing
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-hearing-day'] or "12"}} {{data['date-hearing-month'] or "July"}} {{data['date-hearing-year'] or "2024"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Likely or actual plea 
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['plea'] or "Not guilty" }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Court type
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['courtType'] or "Central Criminal Court" }}
              </dd>
            </div>
            {% if data['courtType'] == "Magistrates' court" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Youth court matter
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['youthCourt'] or "No"}}
                </dd>
              </div>
              {% else %}
              {% if data['courtType'] == null %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Psychiatric liaison service accessed
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['psychLiaison'] or "No"}}
                  </dd>
                </div>
                {% if data['psychLiaison'] == "Yes" %}
                  {% else %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Why not?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['psychmoreDetail'] or "Not required" }}
                    </dd>
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}
          </dl>
        </div>
      </div>
    {% endif %}

    <!--About the request-->
    <h3 class="govuk-heading-m">About the request</h3>

    <!--Primary and alternate quotes-->
    {% include version + "/includes/quotes-provider-view.html"%}

<!---Why PA required-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h4 class="govuk-summary-card__title">Reason for prior authority</h4>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why prior authority is required
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['why-pa'] or ('My client needs an interpreter')}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting documents
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="">whyPADocs1.pdf</a><br>
              <a href="">whyPADocs2.pdf</a>
            </dd>
          </div>
        </dl>       
      </div>
    </div>

    {% include version + "/includes/further-info-provider.html" %}

  </div>

  <script>
    const date = new Date();
    const formattedDate = date.toLocaleDateString('en-GB', {
      day: '2-digit', month: 'short', year: 'numeric'
    }).replace(/ /g, ' ');
    document.getElementById("date").innerHTML = formattedDate;
  </script>  

{% endblock %}

